body {
    background: -webkit-linear-gradient(green, #006400); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(green, #006400); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(green, #006400); /* For Firefox 3.6 to 15 */
    background: linear-gradient(green, #006400); /* Standard syntax */
    background-attachment: fixed;
	border-radius: 5px;
	margin-bottom: 33px;
}

.titlebar {
	position: fixed;
	top: 0;
	left: 0;
	padding-bottom: 10px;
	margin-bottom: -10px;
	background: inherit;
}

.titlebar a {
	text-decoration: none;
	color: white;
}

#main_title {
	position: relative;
	color: #003C00;
	font-size: 1em;
	font-family: verdana;
	margin-bottom: 0;
	margin-top: 10px;
	margin-left: 30px;
	padding-bottom: 0;
	background-color: #006400;
	display: inline-block;
	font-weight: normal;
	border-radius: 15px;
}
#main_title a {
	color: white;
	font-size: 4em;
	font-family: courier;
	margin: 0;
	padding-left: 4px;
	padding-right: 4px;
	display: inline;
}
#main_title a:hover {
	background-color: #005000;
	border-radius: 15px;
}
#nav_links {
	color: white;
	position: relative;
	float: right;
	font-size: 1.3em;
	margin-top: 13px;
	right: 18px;
}
#nav_links ul {
	font-family: verdana;
}
#nav_links li {
	display: inline;
	padding: 3px;
}
#nav_links li a:hover {
	text-decoration: underline;
}
#nav_links li + li::before {
	font-size: 1.2em;
    content: " | ";
}

.circle {
    width:80px;
    height:40px;
    font-size:20px;
    color:white;
    line-height:40px;
    text-align:center;
    border: 2px solid red;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

h2 {
	color: white;
	font-family: courier;
	margin-left: 20px;
	margin-top: 0;
}

.sidebar {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	padding-right: 0;
	padding-left: 10px;
	padding-bottom: 50px;
	padding-top: 100px;
	width: 20%;
	font-family: verdana;
	font-size: 2em;
	background-color: green;
	color: white;
}

.content {
	background-color: white;
	height: 100%;
	min-height: 548px;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 0;
	padding-top: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.events {
	width: 70%;
	padding-left: 20px;
	padding-top: 100px;
	margin-top: 0;
	margin-bottom: 30px;
	min-height: 500px;
}

.events a {
	color: #aeaeae;
	font-size: 1.5em;
	padding-top: 0;
	margin-top: 10px;
	font-family: verdana;
	margin-bottom: 0;
	font-weight: normal;
	text-decoration: none;
	display: block;
}
.events a:hover {
	color: #666666;
}

.events-tomorrow, .events-upcoming {
	display: none;
}

.events-now-1, .events-tomorrow-1, .events-upcoming-1 {
	padding-top: 0;
	margin-top: 0;
}
.events .title, .events .in-progess, .events .locations {
	font-family: courier;
}
.events .title {
	font-size: 1.5em;
}
.events .in-progess {
	font-size: 1.5em;
}
.events .locations {
	font-size: 1.5em;
	color: red;
}
.events ul {
	list-style-type: none;
	margin: 0;
}
.events li {
	padding: 10px;
}

.events .highlight .title:hover, .events .highlight #event-location:hover {
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
}

.events .highlight ul {
	font-family: courier;
	font-size: 1.5em;
}

.events .highlight .subject {
	font-style: italic;
		color: #555555;
}

.events .highlight .host {
	background-color:#e6e6e6;
}

.footer {
	position: relative;
	left: 10px;
	padding-top: 10px;
	bottom: 0;
	color: green;
	font-family: courier;
	font-size: 1.5em;
}