body {
    background: -webkit-linear-gradient(green, #006400); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(green, #006400); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(green, #006400); /* For Firefox 3.6 to 15 */
    background: linear-gradient(green, #006400); /* Standard syntax */
    background-attachment: fixed;
	border-radius: 5px;
	margin-bottom: 33px;
	font-size: 0.8em;
}

.titlebar {
	position: fixed;
	top: 0;
	left: 0;
	padding-bottom: 10px;
	margin-bottom: -10px;
	background: inherit;
	width: 100%;
	min-width: 1050px;
}

.titlebar a {
	text-decoration: none;
	color: white;
}

#main_title {
	position: relative;
	color: #003C00;
	font-size: 1em;
	font-family: verdana;
	margin-bottom: 0;
	margin-top: 10px;
	margin-left: 30px;
	padding-bottom: 0;
	background-color: #006400;
	display: inline-block;
	font-weight: normal;
	border-radius: 15px;
}
#main_title a {
	color: white;
	font-size: 4em;
	font-family: courier;
	margin: 0;
	padding-left: 4px;
	padding-right: 4px;
	display: inline;
}
#main_title a:hover {
	background-color: #005000;
	border-radius: 15px;
}
#nav_links {
	color: white;
	position: relative;
	float: right;
	font-size: 1.3em;
	margin-top: 13px;
	right: 18px;
}
#nav_links ul {
	font-family: verdana;
}
#nav_links li {
	display: inline;
	padding: 3px;
}
#nav_links li a:hover {
	text-decoration: underline;
}
#nav_links li + li::before {
	font-size: 1.2em;
    content: " | ";
}

.content {
	background-color: white;
	height: 100%;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 0;
	margin-bottom: 30px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	min-height: 450px;
	padding-left: 20px;
	padding-top: 100px;
}

.content .indent-bold {
	margin-left: 20px;
	background-color: #e6e6e6;
	display: inline-block;
}

.webpage {
	width: 90%;
}

.events a {
	text-decoration: none;
	color: black;
}
.events #today,#tomorrow,#upcoming {
	color: #aeaeae;
	font-size: 1.5em;
	padding-top: 0;
	margin-top: 10px;
	font-family: verdana;
	margin-bottom: 0;
	font-weight: normal;
	text-decoration: none;
	display: block;
}
.events #today:hover, #tomorrow:hover,#upcoming:hover {
	color: #666666;
}

.events-tomorrow, .events-upcoming {
	display: none;
}

.events .title, .events .in-progess, .events .locations {
	font-family: courier;
	font-size: 1.5em;
}

.events .locations {
	color: red;
}

.events ul {
	list-style-type: none;
	margin: 0;
}
.events li {
	padding: 10px;
}

.events .highlight .title:hover, .events .highlight #event-location:hover {
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
}

.events .highlight ul {
	font-family: courier;
	font-size: 1.5em;
}

.events .highlight .subject {
	font-style: italic;
		color: #555555;
}

.events .highlight .host {
	background-color:#e6e6e6;
}

.content h2 {
	font-size: 1.8em;
	font-family: verdana;
	padding-top: 0;
	margin-top: 0;
}

.content p {
	font-size: 1.4em;
	font-family: verdana;
}

.footer {
	position: relative;
	left: 10px;
	padding-top: 10px;
	bottom: 0;
	color: green;
	font-family: courier;
	font-size: 1.5em;
}