h1 {
	color: green;
	font-size: 1em;
	font-family: courier;
	margin-bottom: 0;
	margin-top: 10px;
	margin-left: 20px;
	background-color: #e6e6e6;
	display: inline-block;
	font-weight: normal;
}
#main_title a {
	color: green;
	font-size: 4em;
	font-family: courier;
	margin: 0;
	padding-left: 4px;
	padding-right: 4px;
}
#main_title a:hover {
	background-color: #f6f6f6;
}
h2 {
	color: grey;
	font-family: courier;
	margin-left: 20px;
	margin-top: 0;
}

.sidebar {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	padding-right: 0;
	padding-left: 10px;
	padding-bottom: 50px;
	padding-top: 100px;
	width: 20%;
	font-family: verdana;
	font-size: 2em;
	background-color: green;
	color: white;
}
.sidebar a{
	color: white;
	text-decoration: none;
}
.sidebar a:hover{
	text-decoration: underline;
}
.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidebar li {
	padding-bottom: 40px;
}
.sidebar #filter {
	font-weight: bold;
	color: #e6e6e6
}

.events {
	width: 70%;
	padding-left: 20px;
	padding-top: 0;
	margin-bottom: 30px;
}

.events a {
	color: #aeaeae;
	font-size: 1.5em;
	padding-top: 0;
	margin-top: 10px;
	font-family: verdana;
	margin-bottom: 0;
	font-weight: normal;
	text-decoration: none;
	display: block;
}
.events a:hover {
	color: #666666;
}

.events-tomorrow, .events-upcoming {
	display: none;
}

.events-now-1, .events-tomorrow-1, .events-upcoming-1 {
	padding-top: 0;
	margin-top: 0;
}
.events .title, .events .in-progess, .events .locations {
	font-family: courier;
}
.events .title {
	font-size: 1.5em;
}
.events .in-progess {
	font-size: 1.5em;
}
.events .locations {
	font-size: 1.5em;
	color: red;
}
.events ul {
	list-style-type: none;
	margin: 0;
}
.events li {
	padding: 10px;
}

.events .highlight .title:hover, .events .highlight #event-location:hover {
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
}

.events .highlight ul {
	font-family: courier;
	font-size: 1.5em;
}

.events .highlight .subject {
	font-style: italic;
		color: #555555;
}

.events .highlight .host {
	background-color:#e6e6e6;
}

.footer {
	position: fixed;
	bottom: 20px;
	left: 20px;
	color: green;
	font-family: courier;
	font-size: 1.5em;
	background-color: #e6e6e6;
}