<!DOCTYPE html>
<html>

	<head>

		{% if title %}
    	<title>{{title}} - Dartmouth Calendar</title>
    	{% else %}
    	<title>Dartmouth Calendar</title>
    	{% endif %}
    	
    	<meta charset="utf-8" />

		<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
		<link rel="shortcut icon" type="image/ico" href="../static/Dlogo.jpg" />
		<script src="../static/js/jquery.min.js"></script>
	</head>
	<body>
		<div class="titlebar">
		<div id="main_title"><a href="/index">DARTMOUTH CALENDAR</a> </div>
		<div id="nav_links" style="background-color: inherit">
		<ul>
		<li><a href="">Add Event</a></li>
		<li><a href="">Unsubscribe from ListServ</a></li>
		<li><a href="">FAQ</a></li>
		</ul>
		</div>
<!-- 		<h2>&ldquo;the blitz machine&rdquo;</h2>
 -->	</div>
 		<div class="content">
		<div class="events">
		{% block content %}{% endblock %}
		</div>
		</div>
		<div class="footer">
Last Blitz: 26 minutes ago
</div>
<script>
$( "#tomorrow" ).click(function() {
  $(".events-today").hide(0);
  $(".events-tomorrow").show(300);
  $(".events-upcoming").hide(0);
});
$( "#today, #today-sidebar" ).click(function() {
  $(".events-today").show(300);
  $(".events-tomorrow").hide(0);
  $(".events-upcoming").hide(0);
});
$( "#upcoming, #upcoming-sidebar" ).click(function() {
  $(".events-today").hide(0);
  $(".events-tomorrow").hide(0);
  $(".events-upcoming").show(300);
});
{% if today_total_events > 4 %}
$( "#title-today-Greek" ).click(function() {
  $("#expanded-today-Greek").show(300);
  $("#expanded-today-Social").hide(0);
  $("#expanded-today-Sports").hide(0);
  $("#expanded-today-Misc").hide(0);
});
$( "#title-today-Social" ).click(function() {
  $("#expanded-today-Greek").hide(0);
  $("#expanded-today-Social").show(300);
  $("#expanded-today-Sports").hide(0);
  $("#expanded-today-Misc").hide(0);
});
$( "#title-today-Sports" ).click(function() {
  $("#expanded-today-Greek").hide(0);
  $("#expanded-today-Social").hide(0);
  $("#expanded-today-Sports").show(300);
  $("#expanded-today-Misc").hide(0);
});
$( "#title-today-Misc" ).click(function() {
  $("#expanded-today-Greek").hide(0);
  $("#expanded-today-Social").hide(0);
  $("#expanded-today-Sports").hide(0);
  $("#expanded-today-Misc").show(300);
});
{% endif %}
{% if tomorrow_total_events > 4 %}
$( "#title-tomorrow-Greek" ).click(function() {
  $("#expanded-tomorrow-Greek").show(300);
  $("#expanded-tomorrow-Social").hide(0);
  $("#expanded-tomorrow-Sports").hide(0);
  $("#expanded-tomorrow-Misc").hide(0);
});
$( "#title-tomorrow-Social" ).click(function() {
  $("#expanded-tomorrow-Greek").hide(0);
  $("#expanded-tomorrow-Social").show(300);
  $("#expanded-tomorrow-Sports").hide(0);
  $("#expanded-tomorrow-Misc").hide(0);
});
$( "#title-tomorrow-Sports" ).click(function() {
  $("#expanded-tomorrow-Greek").hide(0);
  $("#expanded-tomorrow-Social").hide(0);
  $("#expanded-tomorrow-Sports").show(300);
  $("#expanded-tomorrow-Misc").hide(0);
});
$( "#title-tomorrow-Misc" ).click(function() {
  $("#expanded-tomorrow-Greek").hide(0);
  $("#expanded-tomorrow-Social").hide(0);
  $("#expanded-tomorrow-Sports").hide(0);
  $("#expanded-tomorrow-Misc").show(300);
});
{% endif %}
{% if upcoming_total_events > 4 %}
$( "#title-upcoming-Greek" ).click(function() {
  $("#expanded-upcoming-Greek").show(300);
  $("#expanded-upcoming-Social").hide(0);
  $("#expanded-upcoming-Sports").hide(0);
  $("#expanded-upcoming-Misc").hide(0);
});
$( "#title-upcoming-Social" ).click(function() {
  $("#expanded-upcoming-Greek").hide(0);
  $("#expanded-upcoming-Social").show(300);
  $("#expanded-upcoming-Sports").hide(0);
  $("#expanded-upcoming-Misc").hide(0);
});
$( "#title-upcoming-Sports" ).click(function() {
  $("#expanded-upcoming-Greek").hide(0);
  $("#expanded-upcoming-Social").hide(0);
  $("#expanded-upcoming-Sports").show(300);
  $("#expanded-upcoming-Misc").hide(0);
});
$( "#title-upcoming-Misc" ).click(function() {
  $("#expanded-upcoming-Greek").hide(0);
  $("#expanded-upcoming-Social").hide(0);
  $("#expanded-upcoming-Sports").hide(0);
  $("#expanded-upcoming-Misc").show(300);
});
{% endif %}
</script>
</body>
</html>