<!DOCTYPE html>
<html>

	<head>

		{% if title %}
    	<title>{{title}} - Dartmouth Calendar</title>
    	{% else %}
    	<title>Dartmouth Calendar</title>
    	{% endif %}
    	
    	<meta charset="utf-8" />

		<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
		<link rel="shortcut icon" type="image/ico" href="../static/Dlogo.jpg" />
		<script src="../static/js/jquery.min.js"></script>
	</head>

	<body>

		<div class="sidebar">
			<ul>
				<li>add event</li>
				<li>unsubscribe from listserv</li>
				<li>faq</li>
			</ul>
		</div>	

		<div class="events">

		<h1>DARTMOUTH CALENDAR</h1>
		<h2>&ldquo;deciphers blitzes so you don't have to&rdquo;</h2>

		{% block content %}{% endblock %}

		<div class="footer">
last blitz received : 26 minutes ago
</div>
<script>
$( "#tomorrow" ).click(function() {
  $(".events-today").hide(0);
  $(".events-tomorrow").show(300);
  $(".events-upcoming").hide(0);
});
$( "#today, #today-sidebar" ).click(function() {
  $(".events-today").show(300);
  $(".events-tomorrow").hide(0);
  $(".events-upcoming").hide(0);
});
$( "#upcoming, #upcoming-sidebar" ).click(function() {
  $(".events-today").hide(0);
  $(".events-tomorrow").hide(0);
  $(".events-upcoming").show(300);
});
</script>
</body>
</html>