{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
	<a href="#today1" id="today">{% if is_day == False %}tonight{% else %}today{% endif %}</a>
	<div class="events-today">
		<ul>
		{% for category in categories %}
			{% set printed = 0 %}
			<li><span class="title">{{ category }}:</span> <span class="in-progess">{{ cat_freq[category] }} event{{ 's' if cat_freq[category] != 1 else '' }}</span> <span class="locations">
			{% for event in events %}{% if event['category'] == category %}{% if printed == 0 %}({{nicknames[event['from']]}}{% else %}{{ ', ' + nicknames[event['from']] }}{% endif %}{% if printed + 1 == cat_freq[category] %}){% endif %}{% set printed = printed + 1 %}{% endif %}{% endfor %}</span></li>
		{% endfor %}
		</ul>
	</div>
	<a href="#tomorrow1" id="tomorrow">tomorrow</a>
	<div class="events-tomorrow">
		<ul>
		{% for category in categories %}
			{% set printed = 0 %}
			<li><span class="title">{{ category }}:</span> <span class="in-progess">{{ cat_freq[category] }} event{{ 's' if cat_freq[category] != 1 else '' }}</span> <span class="locations">
			{% for event in events %}{% if event['category'] == category %}{% if printed == 0 %}({{nicknames[event['from']]}}{% else %}{{ ', ' + nicknames[event['from']] }}{% endif %}{% if printed + 1 == cat_freq[category] %}){% endif %}{% set printed = printed + 1 %}{% endif %}{% endfor %}</span></li>
		{% endfor %}
		</ul>
	</div>
	<a href="#upcoming1" id="upcoming">upcoming</a>
	<div class="events-upcoming">
		<ul>
		{% for category in categories %}
			{% set printed = 0 %}
			<li><span class="title">{{ category }}:</span> <span class="in-progess">{{ cat_freq[category] }} event{{ 's' if cat_freq[category] != 1 else '' }}</span> <span class="locations">
			{% for event in events %}{% if event['category'] == category %}{% if printed == 0 %}({{nicknames[event['from']]}}{% else %}{{ ', ' + nicknames[event['from']] }}{% endif %}{% if printed + 1 == cat_freq[category] %}){% endif %}{% set printed = printed + 1 %}{% endif %}{% endfor %}</span></li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}